/* .header {
  background-color: rgb(48, 66, 108);
  filter: drop-shadow(0px 0px 20px rgb(48, 66, 108));
  display: flex;
  flex-wrap: wrap;
}

.toolbar-title {
  font-size: 1.2em;
  color: aliceblue;
}

.spacer {
  flex: 1 1 auto;
}

.text {
  color: aliceblue;
}

.toolbar-button {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 600px) {
  .toolbar-button {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

.example-sidenav {
  width: 250px;
}

.example-container {
  height: 100%;
} */
.navbar .navbar-brand {
  font-size: 30px;
  color: aliceblue;
}
.navbar .nav-item {
  padding: 10px 20px;
  
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
  color: aliceblue;
}
.fa-bars {
  font-size: 30px;
}
.sticky-top{
  background-color: rgb(48, 66, 108);
  filter: drop-shadow(0px 0px 20px rgb(48, 66, 108));
}