<mat-toolbar color="primary" class="header">
  <span class="toolbar-title">Nikhar Panchal</span>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/home']"><span class="text">Home</span></button>
  <button mat-button [routerLink]="['/experience']"><span class="text">Experience</span></button>
  <button mat-button [routerLink]="['/projects']"><span class="text">Projects</span></button>
  <button mat-button [routerLink]="['/contact']"><span class="text">Contact</span></button>
</mat-toolbar>