<section id="resume" class="resume section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Experience</h2>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Jr. Java Developer</h4>
                    <h5>July 2023 - Present</h5>
                    <p><em>Ahmedabad, Gujarat</em></p>
                    <ul>
                        <li>Assisted the development team in understanding requirements and sprint work. </li>
                        <li>Collaborated with senior developers on various projects, gaining exposure to software development lifecycle
                            processes</li>
                        <li>Managed deployments using Azure Pipelines and packaged applications with Docker for easier handling and
                            scalability</li>
                        <li>Worked with microservices and Kubernetes for PMS.</li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Software Engineer</h4>
                    <h5>Jan 2023 - July 2023</h5>
                    <p><em>Ahmedabad, Gujarat</em></p>
                    <ul>
                        <li>Worked on Liferay 7.4 and OCR Scanner project mainly role was backend developer in java technology.</li>
                        <li>Created design presentations and proposals a month for Business Product</li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bechelor of Science In Computer Application and Information Technology- B.sc(CA&IT)</h4>
                    <h5>2019 - 2021</h5>
                    <p><em>K.S.SCHOOL OF BUSINESS MANAGEMENT</em></p>
                    <p>A Bachelor of Science in Information Technology (B.Sc IT) course provides a foundation in the
                        principles of computer science and information technology</p>
                </div>

                <div class="resume-item">
                    <h4>Master of Science In Computer Application and Information Technology M.sc(CA&IT)</h4>
                    <h5>2021 - 2023</h5>
                    <p><em>K.S.SCHOOL OF BUSINESS MANAGEMENT</em></p>
                    <p>A Master of Science in Information Technology (M.Sc IT) course provides a foundation in the
                        principles of computer science and information technology</p>
                </div>

            </div>

        </div>

    </div>

</section>