<section id="projects" class="projects section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Projects</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col" data-aos="fade-up" data-aos-delay="200">
                <h3 class="projects-title">Projects</h3>
                <div class="projects-item">
                    <h4>Whimstay - Last Minute Vaction Rentals</h4>
                    <h5>Technology Used : Spring Boot , AWS , Microservices , MongoDB , Spring security</h5>
                    <p><em>URL <a target="_blank"
                                href="https://whimstay.com/">https://whimstay.com/</a>
                        </em></p>
                    <ul>
                        <li>Whimstay is the leading vacation rental marketplace for travelers looking for the best deals on last-minute stays</li>
                        <li>We offer exclusive discounts on properties that might otherwise go unrented while driving incremental revenue for hosts.</li>
                        <li>Whimstay delivers a best-in-class user experience via a mobile app and web and provides top-notch customer support, making it easy to book on a whim!</li>
                    </ul>
                </div>
                <div class="projects-item">
                    <h4>The Nursery</h4>
                    <h5>Technology Used : Java , Jsp/Servlet , HTML , Bootstrap, MYSQL</h5>
                    <p><em>GitHub URL <a target="_blank"
                                href="https://github.com/NikharPanchal/TheNursery">https://github.com/NikharPanchal/TheNursery</a>
                        </em></p>
                    <ul>
                        <li>The Nursery can be designed for a wide variety of uses and can be used by individuals,
                            organization
                            and anyone.</li>
                        <li>User can see all products filter vice.</li>
                        <li>Using this web application user can search for any indoor, outdoor, and decorated plants,
                            fertilizers, pots and seeds.</li>
                    </ul>
                </div>
                <div class="projects-item">
                    <h4>Internet Banking System</h4>
                    <h5>Technology Used : Java , Jsp/Servlet , HTML , Bootstrap, MYSQL</h5>
                    <p><em>GitHub URL <a target="_blank"
                                href="https://github.com/NikharPanchal/InternetBanking">https://github.com/NikharPanchal/InternetBanking</a>
                        </em></p>
                    <ul>
                        <li>A Website using HTML, CSS, JavaScript, MySQL, Java, JSP, Servlet were performing balance
                            checks, account
                            transactions, payments etc. via online portal.</li>
                        <li>The primary objective of the architectural design is to develop a modular program structure
                            of the system.</li>
                    </ul>
                </div>
                <div class="projects-item">
                    <h4>File Compression</h4>
                    <h5>Technology Used : Spring Boot , Spring MVC , Angular Js, MongoDB</h5>
                    <p><em>GitHub URL <a target="_blank"
                                href="https://github.com/NikharPanchal/FileCompression">https://github.com/NikharPanchal/FileCompression</a>
                        </em></p>
                    <ul>
                        <li>Develop a file compression application using AngularJS for frontend UI and Spring Boot for
                            backend processing.
                        <li>Enable file upload and compression settings through AngularJS directives and RESTful.</li>
                        <li>Integrate frontend and backend for seamless communication.</li>
                        <li>Ensure thorough testing for functionality and security. </li>
                        <li>Deploy and maintain the application to guarantee
                            continuous performance and security updates.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>