<div class="container">
    <div class="row pt-5">
        <div class="col-md-6">
            <div>
                <p><em><i class="fas fa-envelope"></i> panchalnikhar4920&#64;gmail.com</em></p>
                <p><em><i class="fas fa-phone"></i> +919099227667</em></p>
            </div>
            <div class="location-area">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.2708719282978!2d72.64792607477102!3d23.050528915285348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1722701818407!5m2!1sen!2sin"
                    width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center pt-0">Contact Me</h2>
            <div [ngClass]="{'alert alert-success':subimitted && registerform.valid && message!=''}" role="alert">
                {{message}}
            </div>

            <div [ngClass]="{'alert alert-danger':subimitted && registerform.valid && emailmessage!=''}" role="alert">
                {{emailmessage}}
            </div>
            <form [formGroup]="registerform" (ngSubmit)="register()">

                <div class="form-group mt-3">
                    <label for="firstname">First Name</label>
                    <input type="text" formControlName="fname"
                        [ngClass]=" {'is-invalid':subimitted && registerform.controls['fname'].errors}" name="firstname"
                        class="form-control" class="form-control">
                </div>

                <div class="form-group mt-3">
                    <label for="email">Email address</label>
                    <input type="text" formControlName="email"
                        [ngClass]="{'is-invalid':subimitted && registerform.controls['email'].errors}" name="email"
                        class="form-control" class="form-control">
                </div>

                <div class="form-group mt-3">
                    <label for="phonenumber">Phone Number</label>
                    <input type="tel" formControlName="phonenumber"
                        [ngClass]="{'is-invalid':subimitted && registerform.controls['phonenumber'].errors}"
                        name="phonenumber" class="form-control" class="form-control">
                </div>


                <div class="form-group mt-3">
                    <label for="Note">Write Your Message</label>
                    <textarea formControlName="note"
                        [ngClass]="{'is-invalid':subimitted && registerform.controls['note'].errors}"
                        class="form-control" rows="7">
                    </textarea>

                </div>

                <div class="text-center mt-3">
                    <input type="submit" value="Send Message" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>