<div class="flex-container">
    <div class="row row1">
        <div class="card">
            <img src="https://via.placeholder.com/100x100" alt="Card Image" class="card-image">
            <h4 class="card-title">Nikhar Panchal</h4>
            <p class="card-details">I'am Java Developer, ready to bring your dream product to life in the virtual world. I've got the skills and expertise to make it happen.</p>
            <div class="card-social">
                <a href="https://twitter.com" target="_blank">
                  <img src="https://img.icons8.com/fluent/48/000000/twitter.png" alt="Twitter">
                </a>
                <a href="https://linkedin.com" target="_blank">
                  <img src="https://img.icons8.com/fluent/48/000000/linkedin.png" alt="LinkedIn">
                </a>
                <a href="https://github.com" target="_blank">
                  <img src="https://img.icons8.com/fluent/48/000000/github.png" alt="GitHub">
                </a>
              </div>
        </div>
    </div>
    <div class="row row2">Row 2</div>
</div>
  