<div class="flex-container">
    <div class="row row1">
        <div class="custom-card">
            <img src="assets/img/IMG_4441.png" alt="Card Image" class="card-image">
            <h4 class="card-title">Nikhar Panchal</h4>
            <p class="card-details">I'am Java Developer, ready to bring your dream product to life in the virtual world. I've got the skills and expertise to make it happen.</p>
            <div class="card-social">
                <a href="https://twitter.com" target="_blank">
                  <img src="https://img.icons8.com/fluent/48/000000/twitter.png" alt="Twitter">
                </a>
                <a href="https://linkedin.com" target="_blank">
                  <img src="https://img.icons8.com/fluent/48/000000/linkedin.png" alt="LinkedIn">
                </a>
                <a href="https://github.com" target="_blank">
                  <img src="https://img.icons8.com/fluent/48/000000/github.png" alt="GitHub">
                </a>
              </div>
        </div>
    </div>
    <div class="row row2">
      <div class="card-area">
        <div class="skill">
          <div class="card-body">
            <div class="logo">
              <img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" alt="Java Logo">
            </div>
            <h2>Java Developer</h2>
            <p>I have 2+ years of experience in Java Hands-on experience with Spring Boot / Spring MVC / Hibernate / JPA / MongoDB / AWS / Docker
            </p>
          </div>
        </div>
        <div class="skill">
          <div class="card-body">
            <div class="logo">
              <img src="https://img.icons8.com/?size=100&id=81727&format=png&color=000000" alt="Java Logo">
            </div>
            <h2>Devops Engineer</h2>
            <p>Manages cloud-based applications using Microsoft Azure services. They specialize in cloud architecture, scalability, and integrating Azure solutions with various development platforms</p>
          </div>
        </div>
        <div class="skill">
          <div class="card-body">
            <div class="logo">
              <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Java Logo">
            </div>
            <h2>Angular Developer</h2>
            <p>Designs and implements user interfaces and web applications using the Angular framework</p>
          </div>
        </div>
      </div>
    </div>
</div>
  